body{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header{
    
}
.image{   
}
.boxes{
    
    
}
.boxes2{
       
}
.inspirience{
   
}


